.documents-page{

  width:100%;
}

/* header */

.documents-header{

  display:flex;
  align-items:center;
  justify-content:space-between;

  margin-bottom:25px;
}

.documents-header h2{

  margin:0;

  font-size:30px;

  font-weight:700;

  color:#0f172a;
}

.documents-header p{

  margin-top:5px;

  color:#64748b;
}

/* upload button */

.upload-btn{

  border:none;

  background:#2563eb;

  color:white;

  padding:12px 18px;

  border-radius:10px;

  display:flex;
  align-items:center;

  gap:10px;

  font-weight:600;

  cursor:pointer;

  transition:.3s;
}

.upload-btn:hover{

  background:#1d4ed8;
}

/* grid */

.documents-grid{

  display:grid;

  grid-template-columns:
      repeat(auto-fit,minmax(320px,1fr));

  gap:20px;
}

/* card */

.document-card{

  background:white;

  border-radius:18px;

  padding:22px;

  box-shadow:
      0 4px 14px rgba(0,0,0,.05);

  transition:.3s;
}

.document-card:hover{

  transform:translateY(-4px);
}

/* top */

.document-top{

  display:flex;
  align-items:center;
  justify-content:flex-start;

  margin-bottom:20px;
}

.document-icon{

  width:70px;
  height:70px;

  border-radius:16px;

  background:#f8fafc;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:34px;
}

/* icons */

.pdf-icon{

  color:#dc2626;
}

.image-icon{

  color:#2563eb;
}

.excel-icon{

  color:#16a34a;
}

/* title */

.document-card h4{

  margin-bottom:18px;

  color:#0f172a;

  word-break:break-word;
}

/* info */

.document-info{

  display:flex;
  flex-direction:column;

  gap:12px;
}

.document-info p{

  margin:0;

  color:#475569;

  display:flex;
  justify-content:space-between;
}

.document-info span{

  font-weight:600;
}

/* footer */

.document-footer{

  display:flex;

  gap:12px;

  margin-top:24px;
}

.document-footer button{

  flex:1;

  height:42px;

  border:none;

  border-radius:10px;

  display:flex;
  align-items:center;
  justify-content:center;

  gap:8px;

  font-weight:600;

  cursor:pointer;

  transition:.3s;
}

/* buttons */

.download-btn{

  background:#dbeafe;

  color:#1d4ed8;
}

.download-btn:hover{

  background:#bfdbfe;
}

.delete-btn{

  background:#fee2e2;

  color:#dc2626;
}

.delete-btn:hover{

  background:#fecaca;
}

/* responsive */

@media(max-width:768px){

  .documents-header{

    flex-direction:column;
    align-items:flex-start;

    gap:15px;
  }

}