.monitoring-page{

  width:100%;
}

/* header */

.monitoring-header{

  margin-bottom:25px;
}

.monitoring-header h2{

  margin:0;

  font-size:30px;

  font-weight:700;

  color:#0f172a;
}

.monitoring-header p{

  margin-top:5px;

  color:#64748b;
}

/* cards */

.monitoring-cards{

  display:grid;

  grid-template-columns:
      repeat(auto-fit,minmax(250px,1fr));

  gap:20px;

  margin-bottom:25px;
}

.monitoring-card{

  background:white;

  border-radius:18px;

  padding:22px;

  display:flex;
  align-items:center;

  gap:18px;

  box-shadow:
      0 4px 14px rgba(0,0,0,.05);

  transition:.3s;
}

.monitoring-card:hover{

  transform:translateY(-4px);
}

/* icon */

.monitoring-icon{

  width:65px;
  height:65px;

  border-radius:15px;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:28px;

  color:white;
}

/* card colors */

.generation-card .monitoring-icon{

  background:#2563eb;
}

.active-card .monitoring-icon{

  background:#16a34a;
}

.battery-card .monitoring-icon{

  background:#f59e0b;
}

.alert-card .monitoring-icon{

  background:#dc2626;
}

/* text */

.monitoring-card h5{

  margin:0;

  color:#64748b;

  font-size:15px;
}

.monitoring-card h2{

  margin-top:8px;

  font-size:28px;

  font-weight:700;

  color:#0f172a;
}

/* table section */

.monitoring-table-section{

  background:white;

  border-radius:18px;

  padding:22px;

  box-shadow:
      0 4px 14px rgba(0,0,0,.05);
}

.table-header{

  margin-bottom:18px;
}

.table-header h4{

  margin:0;

  color:#0f172a;
}

/* table */

.monitoring-table{

  width:100%;

  border-collapse:collapse;
}

.monitoring-table th{

  background:#f8fafc;

  padding:14px;

  text-align:left;

  color:#475569;

  font-size:14px;
}

.monitoring-table td{

  padding:16px 14px;

  border-bottom:
      1px solid #f1f5f9;

  font-size:14px;
}

/* plant */

.plant-name,
.location-text{

  display:flex;
  align-items:center;

  gap:8px;
}

/* status */

.monitoring-status{

  padding:6px 14px;

  border-radius:30px;

  font-size:12px;

  font-weight:600;
}

.running{

  background:#dcfce7;

  color:#15803d;
}

.maintenance{

  background:#fef3c7;

  color:#b45309;
}

.offline{

  background:#fee2e2;

  color:#dc2626;
}

/* responsive */

@media(max-width:768px){

  .monitoring-card{

    padding:18px;
  }

  .monitoring-table{

    min-width:700px;
  }

}